nav {
    padding: 20px 0 20px;
    margin-bottom: 20px;
    margin-top: 20px; }
    
    .navbar {
    padding: 0; }
  
  .navbar-toggler:active,
  .navbar-toggler:focus {
    outline: none; }
  
  .navbar-custom .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear; }
  
  .navbar-custom .navbar-toggler-icon:after,
  .navbar-custom .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 2px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear; }
  
  .navbar-custom .navbar-toggler-icon:after {
    top: 8px; }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg); }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg); }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent; }
  
  .nav-link {
    color: white;
    font-weight: 500;
    transition: all 200ms linear; }
  
  .nav-item:hover .nav-link {
    color: #8f8d8d; }
  

  
  .nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block; }
  
  .nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: rgb(245, 166, 20);
    opacity: 0;
    transition: all 200ms linear; }
  
  .nav-item:hover:after {
    bottom: 0;
    opacity: 1; }
  
  .nav-item.active:hover:after {
    opacity: 0; }
  
  .nav-item {
    position: relative;
    margin-left: 50px;
    transition: all 200ms linear; }
  
  .navbar-brand > img {
    display: block; }

    /* GLOBAL STYLES */
body {
    background: #333;
    justify-content: center;
  }
  .css-typing p {
    border-right: .15em solid white;
    font-family: "Courier";
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 15.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 30.5em;
    opacity: 0;
    -webkit-animation: type2 2s steps(100);
    animation: type2 3s steps(100);
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 20.3em;
    opacity: 0;
    -webkit-animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 2s;
    animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #333;
}

h3 {
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1em;
  font-size: 2rem;
  margin-bottom: 1em;
}

.play-area {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid  white;
  transition: background 0.2s ease-in-out;
}

.block:hover {
  cursor: pointer;
  background: orange;
}

.occupied:hover {
  background: transparent
}

.win {
  background: orange;
}

.win:hover {
  background: white;
}

#block_0,
#block_1,
#block_2 {
  border-top: none;
}

#block_0,
#block_3,
#block_6 {
  border-left: none;
}

#block_6,
#block_7,
#block_8 {
  border-bottom: none;
}

#block_2,
#block_5,
#block_8 {
  border-right: none;
}

button {
  outline: none;
  border: 4px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: white;
  color: white;
  border-radius: 20px;
}

.playerWin {
  color: orange;
}

.computerWin {
  color: white;
}

.draw {
  color: white;
}

@media only screen and (max-width: 600px) {

  h3 {
    margin-bottom: 1em;
  }

  h2 {
    margin-top: 1em;
    font-size: 1.3rem;
  }
}

.fa {
  padding: 15px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}



.fa-instagram {
  background: linear-gradient(to bottom left, #405DE6,  #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  color: white;
}

#ig {transition-timing-function: linear;}

.fa {
  transition: width 1s;
}

.fa:hover {
  width: 80px;
  
}

.fa-twitter {
  background: blue;
  padding: 20px;
}